$def with (usuario, correo, resultado)
<div class="texto">
	Eliminación de cuenta de usuario y cuenta de correo.
</div>
<div class="center">
	<table>
		<tr>
			<td>La eliminación de $usuario.
			</td>
		</tr>
		<tr>
			<td>y la eliminación de correo $correo .
			</td>
		</tr>
		<tr>
			<td>$resultado
			</td>
		</tr>
		<tr>
			<td>
				<br>
			</td>
		</tr>
		<tr>
			<td>
				<a href="javascript: history.go(-1)">Volver atrás</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/">Ir a Lista de cuentas</a>
			</td>
		</tr>
	</table>
	<br>
</div>
