$def with (correo, correo0, usuario)

<div class="texto">
	Modificación de nombre de cuenta de Correo.
</div>
<div class="center">
	<table>
		<tr>
			<td>
			Se ha modificado el nombre del correo electrónico
			</td>
		</tr>
		<tr>
			<td>Anterior: $correo0
			</td>
		</tr>
		<tr>
			<td>Nuevo: $correo
			</td>
		</tr>
		<tr>
			<td>Que está asociada al usuario $usuario .
			</td>
		</tr>
		<tr>
			<td>
				<br>
			</td>
		</tr>
		<tr>
		
			<td>

			</td>
		</tr>
		<tr>
			<td>
				<br>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/">Volver a lista</a></form>
			</td>
		</tr>
	</table>
	<br>
</div>

