$def with (correo, correo0, usuario, resultado)

<div class="texto">
	ERROR al modificar nombre de cuenta de Correo.
</div>
<div class="center">
	<table>
		<tr>
			<td>Anterior: $correo0
			</td>
		</tr>
		<tr>
			<td>Nuevo: $correo
			</td>
		</tr>
		<tr>
			<td>Que está asociada al usuario $usuario .
			</td>
		</tr>
		<tr>
			<td>$resultado .
			</td>
		</tr>
		<tr>
			<td>
				<br>
			</td>
		</tr>
		<td>
				<a href="javascript: history.go(-1)">Volver atrás</a>
		</td>
		<tr>
			<td>
				<br>
			</td>
		</tr>

	</table>
</div>

