$def with (usuario, usuario0, correo)

<div class="texto">
	Modificación de nombre de Usuario.
</div>
<div class="center">
	<table>
		<tr>
			<td>Se ha modificado el nombre de Usuario unix
			</td>
		</tr>		
		<tr>
			<td>Anterior: $usuario0
			</td>
		</tr>
		<tr>
			<td>Nuevo: $usuario
			</td>
		</tr>
		<tr>
			<td>Que tiene asociada la cuenta de correo $correo .
			</td>
		</tr>
		<tr>
			<td>
				<br>
			</td>
		</tr>

		<tr>
			<td>
				<br>
			</td>
		</tr>
		<tr>
			<td>
				<a href="/">Volver a lista</a></form>
			</td>
		</tr>
	</table>
	<br>
</div>

