$def with (usuario, usuario0, correo, resultado)

<div class="texto">
	ERROR al modificar nombre de Usuario.
</div>
<div class="center">
	<table>
		<tr>
			<td>Anterior: $usuario0
			</td>
		</tr>
		<tr>
			<td>Nuevo: $usuario
			</td>
		</tr>
		<tr>
			<td>Que tiene asociada la cuenta de correo $correo .
			</td>
		</tr>
		<tr>
			<td>$resultado .
			</td>
		</tr>
		<tr>
			<td>
				<br>
			</td>
		</tr>
		<tr>
			<td>
				<br>
			</td>
		<tr>
			<td>
				<br>
			</td>
		</tr>
		<td>
				<a href="javascript: history.go(-1)">Volver atrás</a>
		</td>
		<tr>
			<td>
				<br>
			</td>
		</tr>
		</tr>

	</table>
</div>

