$def with (correo, resultado, usuario)
<div class="texto">
	Modificado de password de correo electrónico.
</div>
<div class="center">
	<table>
		<tr>
			<td>El password de la cuenta de correo $correo .
			</td>
		</tr>
		<tr>
			<td>Que está asociada al usuario $usuario .
			</td>
		</tr>
		<tr>
			<td>$resultado
			</td>
		</tr>
		<tr>
			<td>
				<br>
			</td>
		</tr>
		<tr>
			<td>
				<br>
			</td>
		</tr>
		<td>
				<a href="javascript: history.go(-1)">Volver atrás</a>
		</td>
		<tr>
			<td>
				<br>
			</td>
		</tr>

	</table>
</div>

