$def with ()

<div class="texto">Servicios</div>
<div class="center">
<table>
<tr><td>Postfix</td><td><form action="/del/" method="get"><input type="submit" value="Parar"/><form action="/del/" method="get"><input type="submit" value="Iniciar"/>
</form></td></tr>
<tr><td>Fetchmail</td><td><form action="/del/" method="get"><input type="submit" value="Parar"/><form action="/del/" method="get"><input type="submit" value="Iniciar"/>
</form></td></tr>
<tr><td>Dovecot</td><td><form action="/del/" method="get"><input type="submit" value="Parar"/><form action="/del/" method="get"><input type="submit" value="Iniciar"/>
</form></td></tr>
<tr><td><br></td></tr>
</table>
</div>

